<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head'); -%>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div
            class="login100-form-title"
            style="background-image: url(images/bg-01.jpg)"
          >
            <span class="login100-form-title-1"> <%= view %> </span>
          </div>
          <form class="login100-form validate-form" method="post">
            <% if(errors.length > 0){ %>
            <ul class="list-group">
              <% for(let e of errors){ %>
              <li class="list-group-item list-group-item-danger"><%= e %></li>
              <% } %>
            </ul>
            <% } %>
            <div class="wrap-input100 m-b-26">
              <span class="label-input100">First Name</span>
              <input
                class="input100"
                type="text"
                name="first"
                placeholder="Enter first name"
                value="<%= dto.first %>"
              />
              <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 m-b-26">
              <span class="label-input100">Last Name</span>
              <input
                class="input100"
                type="text"
                name="last"
                placeholder="Enter last name"
                value="<%= dto.last %>"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-26"
              data-validate="Email is required"
            >
              <span class="label-input100">Email</span>
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Enter email"
                value="<%= dto.email %>"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-18"
              data-validate="Password is required"
            >
              <span class="label-input100">Password</span>
              <input
                class="input100"
                type="password"
                name="password1"
                placeholder="Enter password"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-18"
              data-validate="Confirm Password is required"
            >
              <span class="label-input100">Confirm Password</span>
              <input
                class="input100"
                type="password"
                name="password2"
                placeholder="Enter confirm password"
              />
              <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">SignUp</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <%- include('./components/scripts'); -%>
    <!--===============================================================================================-->
  </body>
</html>
