<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head'); -%>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div
            class="login100-form-title"
            style="background-image: url(images/bg-01.jpg)"
          >
            <span class="login100-form-title-1"> <%= view %> </span>
          </div>

          <form class="login100-form validate-form" method="post">
            <% if(errors.length > 0){ %>
            <ul class="list-group">
              <li class="list-group-item list-group-item-danger">
                <%= errors %>
              </li>
            </ul>
            <% } %>
            <div
              class="wrap-input100 validate-input m-b-26"
              data-validate="Email is required"
            >
              <span class="label-input100">Email</span>
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="Enter email"
                value="<%= dto.email %>"
              />
              <span class="focus-input100"></span>
            </div>

            <div
              class="wrap-input100 validate-input m-b-18"
              data-validate="Password is required"
            >
              <span class="label-input100">Password</span>
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Enter password"
              />
              <span class="focus-input100"></span>
            </div>
            <div class="flex-sb-m w-full p-b-30">
              <div class="contact100-form-checkbox">
                <input
                  class="input-checkbox100"
                  id="ckb1"
                  type="checkbox"
                  name="remember-me"
                />
                <label class="label-checkbox100" for="ckb1">
                  Remember me
                </label>
              </div>

              <div>
                <a href="#" class="txt1"> Forgot Password? </a><br />
                <a href="/auth/signup" class="txt1"> Create an Account </a>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">SignIn</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--===============================================================================================-->
    <%- include('./components/scripts'); -%>
    <!--===============================================================================================-->
  </body>
</html>
