<!DOCTYPE html>
<html lang="en-US">
  <%- include('./components/head'); -%>
  <body id="top">
    <%- include('./components/header'); -%>

    <div class="page-content">
      <div>
        <div class="profile-page">
          <div class="wrapper">
            <div class="page-header page-header-small" filter-color="green">
              <div
                class="page-header-image"
                data-parallax="true"
                style="background-image: url('images/cc-bg-1.jpg')"
              ></div>
              <div class="container">
                <div class="content-center">
                  <div class="cc-profile-image">
                    <a href="#"><img src="<% if(basicInfo?.pro_pic) { %>
                      <%= basicInfo.pro_pic %>
                    <% }else{ %>
                      images/default.png
                    <% } %>
                    " alt="Image" /></a>
                  </div>
                  <div class="h2 title"><%= basicInfo?.first %> <%= basicInfo?.last %></div>
                  <p class="category text-white">
                    <%= basicInfo?.business.join(', ') %>
                  </p>
                  <a
                    class="btn btn-primary smooth-scroll mr-2"
                    href="#contact"
                    data-aos="zoom-in"
                    data-aos-anchor="data-aos-anchor"
                    >Hire Me</a
                  ><a
                    class="btn btn-primary"
                    href="#"
                    data-aos="zoom-in"
                    data-aos-anchor="data-aos-anchor"
                    >Download CV</a
                  >
                </div>
              </div>
              <div class="section">
                <div class="container">
                  <div class="button-container">
                    <a
                      class="btn btn-default btn-round btn-lg btn-icon"
                      href="#"
                      rel="tooltip"
                      title="Follow me on Facebook"
                      ><i class="fa fa-facebook"></i></a
                    ><a
                      class="btn btn-default btn-round btn-lg btn-icon"
                      href="#"
                      rel="tooltip"
                      title="Follow me on Twitter"
                      ><i class="fa fa-twitter"></i></a
                    ><a
                      class="btn btn-default btn-round btn-lg btn-icon"
                      href="#"
                      rel="tooltip"
                      title="Follow me on Google+"
                      ><i class="fa fa-google-plus"></i></a
                    ><a
                      class="btn btn-default btn-round btn-lg btn-icon"
                      href="#"
                      rel="tooltip"
                      title="Follow me on Instagram"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section" id="about">
          <div class="container">
            <div class="card" data-aos="fade-up" data-aos-offset="10">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                    <div class="h4 mt-0 title">
                      <a href="/resume/basic_info" style="text-decoration: none;">About</a>
                    </div>
                    <%= basicInfo?.about %>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card-body">
                    <div class="h4 mt-0 title">
                      <a href="/resume/basic_info" style="text-decoration: none;">Basic Information</a>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <strong class="text-uppercase">Age:</strong>
                      </div>
                      <div class="col-sm-8"><%= basicInfo?.age %></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4">
                        <strong class="text-uppercase">Email:</strong>
                      </div>
                      <div class="col-sm-8"><%= basicInfo?.email %></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4">
                        <strong class="text-uppercase">Phone:</strong>
                      </div>
                      <div class="col-sm-8"><%= basicInfo?.phone %></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4">
                        <strong class="text-uppercase">Address:</strong>
                      </div>
                      <div class="col-sm-8"><%= basicInfo?.address %></div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-sm-4">
                        <strong class="text-uppercase">Language:</strong>
                      </div>
                      <div class="col-sm-8">
                        <%= basicInfo?.language?.join(', ') %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section" id="skill">
          <div class="container">
            <div class="h4 text-center mb-4 title">
              <a href="/resume/skills" style="text-decoration: none;">Professional Skills</a>
            </div>
            <div
              class="card"
              data-aos="fade-up"
              data-aos-anchor-placement="top-bottom"
            >
              <div class="card-body">
                <div class="row">
                  <% for(let skill of skills){ %>
                  <div class="col-md-6">
                    <div class="progress-container progress-primary">
                      <span class="progress-badge"
                        ><a href="/resume/skills/<%= skill.id %>"
                          ><%= skill.title %></a
                        ></span
                      >
                      <a
                        class="progress-badge ml-2"
                        href="/resume/skills/delete/<%= skill.id %>"
                        ><i class="fa fa-trash"></i
                      ></a>
                      <div class="progress">
                        <div
                          class="progress-bar progress-bar-primary"
                          data-aos="progress-full"
                          data-aos-offset="10"
                          data-aos-duration="2000"
                          role="progressbar"
                          aria-valuenow="<%= skill.score %>"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: <%= skill.score %>%"
                        ></div>
                        <span class="progress-value"><%= skill.score %>%</span>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section" id="education">
          <div class="container cc-education">
            <div class="h4 text-center mb-4 title">
              <a href="/resume/education" style="text-decoration: none;">Education</a>
            </div>
            <% for(let e of educations) { %>
            <div class="card">
              <div class="row">
                <div
                  class="col-md-3 bg-primary"
                  data-aos="fade-right"
                  data-aos-offset="50"
                  data-aos-duration="500"
                >
                  <a href="/resume/education/<%= e.id %>">
                    <div class="card-body cc-education-header">
                      <p>
                        <%= e.entrance.getFullYear() %> - <%=
                        e.graduate.getFullYear() %>
                      </p>
                      <div class="h5"><%= e.level %> Degree</div>
                    </div>
                  </a>
                </div>
                <div
                  class="col-md-9"
                  data-aos="fade-left"
                  data-aos-offset="50"
                  data-aos-duration="500"
                >
                  <div class="card-body">
                    <div class="h5">
                      <%= e.field %>, Branch <%= e.branch %>
                      <a
                        class="progress-badge"
                        style="float: right"
                        href="/resume/education/delete/<%= e.id %>"
                        ><i class="fa fa-trash"></i
                      ></a>
                    </div>
                    <p class="category"><%= e.institute %></p>
                    <p><%= e.about %></p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
        <div class="section" id="experience">
          <div class="container cc-experience">
            <div class="h4 text-center mb-4 title">
              <a href="/resume/work_experience" style="text-decoration: none;">Work Experience</a>
            </div>
            <% for(let we of workExperience){ %>
            <div class="card">
              <div class="row">
                <div
                  class="col-md-3 bg-primary"
                  data-aos="fade-right"
                  data-aos-offset="50"
                  data-aos-duration="500"
                >
                  <a href="/resume/work_experience/<%= we.id %>">
                    <div class="card-body cc-experience-header">
                      <p>
                        <%= helper(we.start) %> - <% if(we.present){ %> Present
                        <% }else{ %> <%= helper(we.finish) %> <% } %>
                      </p>
                      <div class="h5"><%= we.company %></div>
                    </div>
                  </a>
                </div>
                <div
                  class="col-md-9"
                  data-aos="fade-left"
                  data-aos-offset="50"
                  data-aos-duration="500"
                >
                  <div class="card-body">
                    <div class="h5">
                      <%= we.job_position %>
                      <a
                      class="progress-badge"
                      style="float: right"
                      href="/resume/work_experience/delete/<%= we.id %>"
                      ><i class="fa fa-trash"></i
                    ></a>
                    </div>
                    <p><%= we.job_description %></p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <%- include('./components/footer'); -%> <%- include('./components/scripts');
    -%>
  </body>
</html>
